<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="card"  style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title" >Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
</div>

<div class="card" th:fragment="smallEventCard" style="width: 18rem;">
    <img th:src= "@{${eventsItem.imgUrl}}"  class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" th:text = "${eventsItem.nameOfEvent}" >Card title</h5>
        <p class="card-text" th:text = "${eventsItem.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text = "${eventsItem.city}">An item</li>
        <li class="list-group-item" th:text = "${eventsItem.date}">A second item</li>
        <li class="list-group-item" th:text = "${eventsItem.price}">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Zarezerwuj</a>
    </div>

    <tr class="inner-box"th:fragment="smallEventCard2">
        <th scope="row">
            <div class="event-date">
                <span th:text = "${eventsItem.dayOfEvent}" >16</span>
                <p th:text = "${eventsItem.city}">Novembar</p>
            </div>
        </th>
        <td>
            <div class="event-img">
                <img th:src= "@{${eventsItem.imgUrl}}" alt="" />
            </div>
        </td>
        <td>
            <div class="event-wrap">
                <h3 th:text = "${eventsItem.nameOfEvent}"><a href="#">Harman Kardon</a></h3>
                <div class="meta">
                    <div class="organizers" >
                        <a th:text = "${eventsItem.numberOfTickets}" href="#">Aslan Lingker</a>
                    </div>
                    <div class="categories" th:text = "${eventsItem.typeOfEvent}">
                        <a href="#">Inspire</a>
                    </div>
                    <div class="time">
                        <span th:text = "${eventsItem.description}">05:35 AM - 08:00 AM 2h 25'</span>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="r-no">
                <span th:text = "${eventsItem.price}" >Room B3</span>
            </div>
        </td>
        <td>
            <div class="primary-btn">
                <a class="btn btn-primary" href="#">Zarezerwuj</a>
            </div>
        </td>
    </tr>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>